@media (max-width: 500px) {
    .content{
        padding-top: 10px !important
    }
}
@media (min-width: 500px) and (max-width: 800px) {
    .content{
        padding-top: 10px !important
    }
}
@media (min-width: 800px) {
    .content{
        padding-top: 2vh !important
    }
}

ion-avatar{
    margin: auto !important;
    width: 70px;
    height: 70px;
    position: relative;
    top: 50px;
    z-index: 9999;
}

ion-input, ion-textarea{
    font-size: 0.8rem;
    color: gray;
}
ion-input ion-icon{
    font-size: 1rem !important;
}
small{
    font-size: 0.6rem;
}