.presentacion {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-avatar {
    width: 20vw;
    height: 20vw;
}

p {
    color: var(--ion-color-light);
    ;
}

.descripcion{
    margin: auto;
}

@media (max-width: 500px) {
    .foto{
        width: 70%;
        margin: auto;
    }
    .foto ion-avatar{
        width: 150px;
        height: 150px;
    }
    .descripcion {
        width: 100%;
    }
    .buttons{
        width: 100%;
    }
    ion-chip{
        width: 100%;
    }
}
@media (min-width: 500px) and (max-width: 800px) {
    .foto{
        width: 50%;
        margin: auto;
    }
    .descripcion {
        width: 70%;
    }
    .buttons{
        width: 80%;
    }
}
@media (min-width: 800px) {
    .foto{
        width: 40%;
        margin: auto;
    }
    .descripcion {
        width: 50%;
    }
    .buttons{
        width: 60%;
    }
}