<ion-content mode="ios">
    <div class="presentacion">
        <div>
            <ion-grid>
                <ion-row class="ion-justify-content-center">
                    <ion-col size="12">
                        <div class="foto">
                            <br><br>
                            <ion-avatar style="margin: auto;">
                                <img src="{{datosMios['avatar_url']}}" />
                            </ion-avatar><br>
                            <h1 class="text-center" style="color: white; font-weight: bold">
                                Tecnologías que manejo</h1>
                            <h5 class="text-center" style="color: white; font-weight: bold">
                                {{datosMios['name'] || nombre}}</h5>

                        </div>
                    </ion-col>
                    <ion-col size-lg="10" size-sm="12">
                        <div style="margin: auto;">
                            <div>
                                <ion-segment (ionChange)="segmentChanged($event)" value="Frontend">
                                    <ion-segment-button value="Frontend" class="menua">
                                        <ion-label color="light">Frontend</ion-label>
                                    </ion-segment-button>
                                    <ion-segment-button value="Backend" class="menua">
                                        <ion-label color="light">Backend</ion-label>
                                    </ion-segment-button>
                                    <ion-segment-button value="Motores" class="menua">
                                        <ion-label color="light">Motores de BD</ion-label>
                                    </ion-segment-button>
                                    <!-- <ion-segment-button value="Otros">
                                        <ion-label color="light">Otros</ion-label>
                                    </ion-segment-button> -->
                                </ion-segment>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
    <div class="slides2">

        <ion-slides mode="ios" [options]="slideOpts">
            <ion-slide *ngFor="let item of tec">
                <ion-card>
                    <img src="{{item.imagen}}" class="swiper-lazy imgtec" />
                    <ion-card-header>
                        <ion-card-subtitle>{{item.subtitulo}}</ion-card-subtitle>
                        <ion-card-title>{{item.titulo | uppercase | slice:0:10}}
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        {{item.descripcion}}
                    </ion-card-content>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </div>
    <div>
        <div>
            <ion-grid>
                <ion-row>

                    <ion-col size="12">
                        <div>
                            <div style="width: 100%; display: flex; justify-content: center;">
                                <div class="buttons">
                                    <ion-grid>
                                        <ion-row>
                                            <ion-col size-lg="4" offset-lg="4" size-sm="12">

                                                <ion-button [routerLink]="['/home']" expand="block"
                                                    routerLinkActive="router-link-active" color="light"
                                                    class="ion-activatable ripple-parent" fill="outline">
                                                    <ion-icon slot="start" name="arrow-back"></ion-icon>
                                                    Volver
                                                    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
                                                </ion-button>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>

                                </div>
                            </div>
                        </div>
                    </ion-col>

                </ion-row>
            </ion-grid>

        </div>
    </div>
</ion-content>