<ion-content [fullscreen]="true" mode="ios" class="ion-padding">
    <ion-grid fixed class="negrilla margin-bot-lg">
        <br>
        <ion-row class="ion-justify-content-center">
            <ion-col size-lg="12" size="12" class="margin-bot-sm margin-bot-lg">
                <ion-avatar style="height: 100px; width: 100px;margin: auto;">
                    <img src="https://pbs.twimg.com/profile_images/1059180980265738240/jV_3TtMx_400x400.jpg" />
                </ion-avatar>
            </ion-col>

            <ion-col size-lg="2" size="12" size-xl="3" size-sm="4" class="centrado menua">
                <ion-label [routerLink]="['/bienvenida']" routerLinkActive="router-link-active" color="light">INICIO</ion-label>
            </ion-col>
            <ion-col size-lg="2" size="12" size-xl="3" size-sm="4" class="centrado menua">
                <ion-label color="light" [routerLink]="['/contacto']" routerLinkActive="router-link-active">CONTACTO</ion-label>
            </ion-col>
            <ion-col size-lg="2" size="12" size-xl="3" size-sm="4" class="centrado menua">
                <ion-label color="light" [routerLink]="['/tecnologias']" routerLinkActive="router-link-active">TECNOLOGÍAS
                </ion-label>
            </ion-col>

        </ion-row>
    </ion-grid>
    <div style="text-align: center;">
        <br><br>
        <ion-label color="light" class="negrilla" style="font-size: 200%;">Proyectos en los que he trabajado</ion-label>
    </div>
    <br>

    <ion-grid class="proyectos">
        <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-sm="8" size-xl="5" size-lg="5">
                <ion-slides mode="ios" [options]="slideOpts" #slides>
                    <ion-slide *ngFor="let item of proyectos">
                        <ion-card (click)="openWebpage(item['url'])">
                            <div class="description">{{item.descripcion}}</div>
                            <img [src]='item.imagen' class="swiper-lazy imgcurso" />
                            <ion-card-header>
                                <ion-card-subtitle>{{item.autor}}</ion-card-subtitle>
                                <ion-card-title style="font-size: 1.5rem;">{{item.nombre | slice:0:12}}</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                {{item.lenguaje}}
                                <br> {{item.url | slice:0:30}}...
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>
                </ion-slides>
                <br>
                <ion-button expand="block" color="light" fill="outline" href="{{urlGit}}" target="_blank">Ir a GitHub
                </ion-button>

            </ion-col>
        </ion-row>
    </ion-grid>



    <div id="fondo"></div>
</ion-content>